# .gitignore

# Игнорирование файлов terraform-provider-google_v5.13.0_x5.exe и 24585
ny_taxi_postgres_data/base/16385/24585
terrademo/.terraform/providers/registry.terraform.io/hashicorp/google/5.13.0/windows_amd64/terraform-provider-google_v5.13.0_x5.exe
ny_taxi_postgres_data/base/16385/24585
ny_taxi_postgres_data/base/16384/16385
